body {
    margin: 0px;
background-color: rgb(211, 134, 134);
}


#main-container {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 2000px;
    background-image: url("star-image.png");
    background-repeat: repeat;
    background: linear-gradient(#443636, #000000)
}

#lil-box {
    background-color: #443636;
    color: aliceblue;
    width: 624px;
    height: 131px;
    position: absolute;
    top: 50px;
}

#text-container {
    background-color: aliceblue;
    width: 430px;
    height: 230px;
    top: 310px;
    left: -500;
    position: absolute;
}

#Proflo-Art {
    position: absolute;
    top: 630px;
    left: 430px;
    color: aliceblue;
}


#logo { 
   position: absolute;
    left: 760px;
}

#nav-bar {
    position: absolute;
   left: 770px;
   top: 230px;
   color: aliceblue;
}

#About-Me {
    position: absolute;
    top: 1300px;
    left: 430px;
    color: aliceblue;
}

#end-box {
    position: absolute;
    background-color: #6C1D35;
top: 2000px;
width: 1000px;
height: 250px;
}

a  {
    text-decoration: none;
}


#main {
    position: absolute;
    top: 0px;
    left: 500px;
    color: #443636;
}