body {
    margin: 0px;
background-color: rgb(211, 134, 134);
}


#main-container {
    display: flex;
    position: absolute;
    left: 0;
    background-image: url(file:///G:/My%20Drive/Digtal%20design/unit%202%20web%20design/profilo-cite/2023-prortfolio/Img/star%20image.png);
    background-image: repeat;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 2000px;
    background: linear-gradient(#443636, #000000)
}

/* gasp */

#lil-box {
    background-color: #6a3939;
    color: aliceblue;
    width: 624px;
    height: 131px;
    position: absolute;
    top: 50px;
}

#text-container {
    background-color: aliceblue;
    width: 430px;
    height: 230px;
    top: 310px;
    left: -500;
    position: absolute;
}

#about-me-text1 {
position: absolute;
background-color: #6C1D35;
top: 1450px;
left: 50px;
width: 200px;
height: 500px;
color: aliceblue;
}

#about-me-text2 {
    position: absolute;
    background-color: #6C1D35;
    left: 350px;
    top: 1700px;
    width: 300px;
    height: 250px;
    color: aliceblue;
}

#about-me-text3 {
    position: absolute;
background-color: #6C1D35;
top: 1450px;
left: 750px;
width: 200px;
height: 500px;
color: aliceblue;
}

#Proflo-Art {
    position: absolute;
    top: 630px;
    left: 400px;
    color: aliceblue;
}


/* begaging of image css */
#logo { 
   position: absolute;
    left: 760px;
}

#logo2 {
    position: absolute;
    left: 20px;
    top: 2050px;
}

#Muto {
    position: absolute;
    left: 90px;
    top: 750px;
}

#Christmas {
    position: absolute;
    left: 650px;
    top: 750px;
}

#sword {
    position: absolute;
    left: 400px;
    top: 750px;
}

/* #star {
    
} */

/* end of image */

#nav-bar {
    position: absolute;
   left: 880px;
   top: 230px;
   color: aliceblue;
   text-decoration: none;
}

#About-Me {
    position: absolute;
    top: 1300px;
    left: 430px;
    color: aliceblue;
    transition-property: background-color color aliceblue;
    transition-duration: 1s;
    transition-delay: .25s;
}


#About-Me:hover {
    color: aliceblue;
    background-color: #3e111e;
    transition-property: background-color color aliceblue;
    transition-duration: 1s;
    transition-delay: .25s;
}

#end-box {
    position: absolute;
    background-color: #3e111e;
top: 2000px;
width: 1000px;
height: 250px;
color: aliceblue;
}

#text {
    position: absolute;
    left: 500px;
}

a  {
    text-decoration: none;
}


#main {
    position: absolute;
    top: 0px;
    left: 500px;
    color: #443636;
}
#Main-page {
    color: aliceblue;
    transition-property: background-color color aliceblue;
    transition-duration: 1s;
    transition-delay: .25s;
}

#Main-page:hover {
    color: aliceblue;
    background-color: #3e111e;
    transition-property: background-color color aliceblue;
    transition-duration: 1s;
    transition-delay: .25s;
}

#prof-page {
    color: aliceblue;
    transition-property: background-color color aliceblue;
    transition-duration: 1s;
    transition-delay: .25s;
}

#prof-page:hover {
    color: aliceblue;
    background-color: #3e111e;
    transition-property: background-color color aliceblue;
    transition-duration: 1s;
    transition-delay: .25s;
}

#about-page {
    color: aliceblue;
    transition-property: background-color color aliceblue;
    transition-duration: 1s;
    transition-delay: .25s;
}

#about-page:hover {
    color: aliceblue;
    sbackground-color: #3e111e;
    transition-property: background-color color aliceblue;
    transition-duration: 1s;
    transition-delay: .25s;
}

