body {
    margin: 0px;
background-color: rgb(211, 134, 134);
}


#main-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 2000px;
    background-image: url("star-image.png");
    background-repeat: repeat;
    background: linear-gradient(#443636, #000000)
}


#logo { 
align-items: center;
justify-content: center;
}

#the-nav-bar {

}